{% extends "common/base.html" %}

{% load widget_tweaks %}
{% load i18n %}

{% block content %}

<div class="card card-profile my-5 mx-auto">
    <div class="card-body">
        <table class="profile_table mb-4">
        <tbody>
            <tr>
            <th class="header">名前</th>
                <td class="data">
                    {{ user_data.nickname }}
                </td>
            </tr>
            <tr>
            <th class="header">ユーザーID</th>
                <td class="data">
                    {{ user_data.userid }}
                </td>
            </tr>
            <tr>
            <th class="header">自己紹介</th>
                <td class="data">
                    {{ user_data.introduction }}
                </td>
            </tr>
            <th class="header">プロフィール画像</th>
                <td class="data">
                    <img src="{{ user_data.profile_image.url }}" width="50%" height="100%"/>
                </td>
            </tr>
        </tbody>
        </table>
        {% if current_user == user_data %}
        <div class="button mx-auto">
            <a class="btn btn-lg btn-warning btn-block" href="{% url 'profile_edit' %}">編集する</a>
        </div>
        {% endif %}
    </div>
</div>

<!-- ユーザーのtweet表示 -->
<div class="card card-profile my-5 mx-auto">
    <div class="card-body">
        <h5 class="card-title text-center">ユーザーのツイート</h5>
        {% if tweet_data %}
            {% for tweet in tweet_data %}
            <div class="card my-3 tweet-card">
                <a class="card-body d-flex text-dark"  href="{% url 'tweet_detail' tweet.id %}">
                    <div class="profile-image" href="{% url 'profile' user.id %}">
                        <img src="{{ user_data.profile_image.url }}" />
                    </div>
                    <div class="ml-3 tweet-content">
                        <div class="tweet-data d-flex justify-content-between">
                            <div class="tweet-user-nickname">{{ tweet.user.nickname }}</div>
                            <div class="tweet-date">{{ tweet.created_at|date:"Y年m月d日 H:i" }}</div>
                        </div>
                        <div class="tweet-text">
                            {{ tweet.text }}
                        </div>
                    </div>
                </a>
                {% include "common/sousa.html" %}
                <div class="tweet-u-card-body card-body">
                    {% include "common/like_btn.html" %}
                    {% include "common/comment_btn.html" %}
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>ツイートはありません。</p>
        {% endif %}
    </div>
</div>

<!-- js -->
{% block extrajs %}
<script>
document.querySelectorAll('.ajax-like-for-post').forEach(button => {
    // likeボタンが押下されたら実行
    button.addEventListener('click', e => {
        // もしログインしていなかったらログイン画面に遷移
        if ("{{ user.is_authenticated }}" === "False") {
            window.location.href = '{% url "account_login" %}';
        }
        // イベントのデフォルトの動作をキャンセル
        e.preventDefault();
        // 各種変数に代入
        const tweetPk = button.getAttribute('data-tweet-pk');
        const url = '{% url "like_tweet" %}';
        const formData = new FormData();
        formData.append('tweet_pk', tweetPk);
        // fetchAPIでPOST送信
        fetch(url, {
            method: 'POST',
            body: formData,
            headers: {'X-CSRFToken': '{{ csrf_token }}'}
        }).then(response => {
            return response.json();
        }).then(response => {
            const counter = button.nextElementSibling;
            const icon = button.querySelector('.like-for-post-icon');
            counter.textContent = response.tweet_likes;
            if (response.method === 'create') {
                icon.classList.remove('far');
                icon.classList.add('fas');
            } else {
                icon.classList.remove('fas');
                icon.classList.add('far');
            }
        }).catch(error => {
            console.log(error);
        });
    });
});
</script>
{% endblock %}


{% endblock %}