{% extends "common/base.html" %}

{% load widget_tweaks %}
{% load i18n %}

{% block content %}

<!-- ユーザーのtweet表示 -->
<div class="card card-profile my-5 mx-auto">
    <div class="card-body">
        <h5 class="card-title text-center">ツイート</h5>
        {% if tweets %}
            {% for tweet in tweets %}
                <div class="card card my-3 tweet-card">
                    <a class="card-body text-dark d-flex" href="{% url 'tweet_detail' tweet.id %}">
                        <div class="profile-image">
                            <img src="{{ tweet.user.profile_image.url }}" />
                        </div>
                        <div class="ml-3 tweet-content">
                            <div class="tweet-date">
                                {{ tweet.updated_at|date:"Y年m月d日 H:i" }}
                            </div>
                            <div class="tweet-text">
                                {{ tweet.text }}
                            </div>
                        </div>
                    </a>
                    {% if tweet.user == current_user %}
                    <div class="sousa">
                        <!-- Dropdown button -->
                        <div class="dropdown">
                            <button class="btn dropdown-toggle custom-dropdown" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                ･･･
                            </button>
                            <ul class="dropdown-menu dropdown-menu-tweet" aria-labelledby="dropdownMenuButton">
                                <li><object><a class="dropdown-item tweet-delete-btn" href="{% url 'tweet_delete' tweet.id %}">削除</a></object></li>
                                <li><object><a class="dropdown-item" href="{% url 'tweet_edit' tweet.id %}">編集</a></object></li>
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    <div class="card-body">
                        {% if is_user_liked_for_tweet %}
                        <button type="button" class="ajax-like-for-post" data-tweet-pk="{{ tweet.pk }}" style="border:none;background:none">
                          <!-- すでにlikeしている時はfasクラス -->
                          <i class="fas fa-heart text-danger like-for-post-icon"></i>
                        </button>
                        {% else %}
                        <button type="button" class="ajax-like-for-post" data-tweet-pk="{{ tweet.pk }}" style="border:none;background:none">
                          <!-- likeしていないときはfarクラス -->
                          <i class="far fa-heart text-danger like-for-post-icon"></i>
                        </button>
                        {% endif %}
                        <!-- likeの数 -->
                        <span class="like-for-post-count">{{ tweet_likes }}</span>                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>ツイートはありません。</p>
        {% endif %}
    </div>
</div>



<!-- MDB -->
{% block extrajs %}
<script>
document.querySelectorAll('.ajax-like-for-post').forEach(button => {
    button.addEventListener('click', e => {
      if ("{{ user.is_authenticated }}" === "False") {
        window.location.href = '{% url "account_login" %}';
      }
      e.preventDefault();
      const tweetPk = button.getAttribute('data-tweet-pk');
      const url = '{% url "like_tweet" %}';
      const formData = new FormData();
      formData.append('tweet_pk', tweetPk);
      fetch(url, {
        method: 'POST',
        body: formData,
        headers: {
          'X-CSRFToken': '{{ csrf_token }}'
        }
      }).then(response => {
        return response.json();
      }).then(response => {
        const counter = button.nextElementSibling;
        const icon = button.querySelector('.like-for-post-icon');
        counter.textContent = response.like_count;
        if (response.method === 'create') {
          icon.classList.remove('far');
          icon.classList.add('fas');
        } else {
          icon.classList.remove('fas');
          icon.classList.add('far');
        }
      }).catch(error => {
        console.log(error);
      });
    });
  });
</script>
{% endblock %}

{% endblock %}
