{% load custom_filters %}

<div class="like-btn">
    <!-- ログインしているユーザーがlikeしているとき -->
    {% if tweet.id in is_user_liked_for_tweet %}
    <button type="button" class="ajax-like-for-post" data-tweet-pk="{{ tweet.pk }}" data-tweet-like-tweet-url='{% url "like_tweet" %}' data-is-authenticated='{{ user.is_authenticated }}' data-account-login='{% url "account_login" %}' data-csrf-token='{{ csrf_token }}' style="border:none;background:none;padding:0;">
        <i class="fas fa-heart like-for-post-icon"></i>
    </button>
    <!-- ログインしているユーザーがlikeしていないとき or ユーザーがログインしていないとき -->
    {% else %}
    <button type="button" class="ajax-like-for-post" data-tweet-pk="{{ tweet.pk }}" data-tweet-like-tweet-url='{% url "like_tweet" %}' data-is-authenticated='{{ user.is_authenticated }}' data-account-login='{% url "account_login" %}' data-csrf-token='{{ csrf_token }}' style="border:none;background:none;padding:0;">
        <i class="far fa-heart like-for-post-icon"></i>
    </button>
    {% endif %}
    <!-- likeの数 -->
    <span class="like-for-post-count">
    {{ tweet_likes | get_value:tweet.id }}
    </span>
</div>