{% if tweets.has_next %}
<div class="card card-profile my-4 mx-auto tweet-container" data-next-page="{{ tweets.next_page_number }}">
{% else %}
<div class="card card-profile my-4 mx-auto tweet-container">
    {% endif %}
    <div class="card-body tweets-card-body">
        {% if tweets %}
            {% for tweet in tweets %}
                <div class="card tweet-card">
                    <a class="card-body tweet-card-aaaaa" href="{% url 'tweet_detail' tweet.id %}">
                        <div class="text-dark d-flex tweet-card-body">
                            <object class="profile-image"><a class="profile-image-a" href="{% url 'profile' tweet.user.id %}">
                                <img src="{{ tweet.user.profile_image.url }}" />
                            </a></object>
                            <div class="ml-3 tweet-content">
                                <div class="tweet-data d-flex justify-content-between">
                                    <object class="tweet-profile">
                                        <a href="{% url 'profile' tweet.user.id %}" class="tweet-user-nickname">
                                            <span class="follow-nickname">{{ tweet.user.nickname }}</span>
                                            <span class="follow-userid">@{{ tweet.user.userid }}</span>
                                        </a>
                                    </object>
                                    <div class="tweet-date">{{ tweet.created_at|date:"Y年m月d日 H:i" }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="tweet-text-aaaa">
                            {{ tweet.text }}
                        </div>
                    </a>
                    {% include "common/tweet_sousa.html" %}
                    <div class="tweet-u-card-body">
                        {% include "common/like_btn.html" %}
                        {% include "common/comment_btn.html" %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>ツイートはありません。</p>
        {% endif %}
    </div>
</div>