.tweet-content {
    margin: 0 10px 0 10px;
}

.tweet-date {
    font-size: 12px;
    color: darkgray;
}

.tweet-card:hover {
    border-color: gray;
}

.tweet-card-detail {
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
}

.tweet-card-detail:hover {
    border-color: rgba(0,0,0,.125);
    border-radius: 0.5rem;
    text-decoration: none;
}

.tweets {
    margin-top: 2rem;
}

.tweet {
    background-color: #fff;
    border: 1px solid #d1dbeb;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.1);
}

.tweet-text {
    font-size: 16px;
}

.sousa {
    position: absolute;
    top: 10px;
    right: 10px;
}

.tweet-edit {
    text-decoration: none;
    color: white;
}

a.tweet-edit:hover {
    color: white;
}
