{% extends "common/base.html" %}

{% load widget_tweaks %}
{% load i18n %}

{% block content %}

<div class="card card-profile my-5 mx-auto">
    <div class="card-body">
        <table class="profile_table mb-4">
        <tbody>
            <tr>
            <th class="header">名前</th>
                <td class="data">
                    {{ user_data.nickname }}
                </td>
            </tr>
            <tr>
            <th class="header">ユーザーID</th>
                <td class="data">
                    {{ user_data.userid }}
                </td>
            </tr>
            <tr>
            <th class="header">自己紹介</th>
                <td class="data">
                    {{ user_data.introduction }}
                </td>
            </tr>
            <th class="header">プロフィール画像</th>
                <td class="data">
                    <img src="{{ user_data.profile_image.url }}" width="50%" height="100%"/>
                </td>
            </tr>
        </tbody>
        </table>
        {% if request.user.id == user_data.id %}
        <div class="button mx-auto">
            <a class="btn btn-lg common-btn btn-block" href="{% url 'profile_edit' %}">編集する</a>
        </div>
        {% endif %}
    </div>
</div>

<!-- ログイン中のユーザーのプロフィールでは表示しない。 -->
{% if request.user.id != user_data.id %}
    <!--  -->
    {% if request.user.is_anonymous %}
    <div class="button mx-auto">
        <button class="btn btn-lg common-btn btn-block follow-button" data-follow-user-url='{% url "user_follow" %}' data-to-user-id="{{ user_data.id }}" data-from-user-id="{{ request.user.id }}" data-is-authenticated='{{ user.is_authenticated }}' data-account-login='{% url "account_login" %}'>
            フォロー
        </button>
    </div>
    {% elif request.user.id in follower_list %}
    <div class="button mx-auto">
        <button class="btn btn-lg common-btn btn-block follow-button" data-follow-user-url='{% url "user_follow" %}' data-to-user-id="{{ user_data.id }}" data-from-user-id="{{ request.user.id }}" data-is-authenticated='{{ user.is_authenticated }}' data-account-login='{% url "account_login" %}'>
            フォロー解除
        </button>
    </div>
    {% else %}
    <div class="button mx-auto">
        <button class="btn btn-lg common-btn btn-block follow-button" data-follow-user-url='{% url "user_follow" %}' data-to-user-id="{{ user_data.id }}" data-from-user-id="{{ request.user.id }}" data-is-authenticated='{{ user.is_authenticated }}' data-account-login='{% url "account_login" %}'>
            フォロー
        </button>
    </div>
    {% endif %}
{% endif %}





<!-- ユーザーのtweet表示 -->
{% include "common/tweetcard-a-tag.html" %}


{% endblock %}