{% extends "common/base.html" %}

{% load widget_tweaks %}
{% load i18n %}

{% block content %}

<div class="card card-profile my-5 mx-auto">
    <div class="card-body">
        <div class="profile-top">
            <div class="profile-image-aaa">
                <img class="profile-img" src="{{ user_data.profile_image.url }}"/>
            </div>
            <div>
                <span class="nickname">{{ user_data.nickname }}</span>
                <span class="userid">@{{ user_data.userid }}</span>
            </div>
            {% if request.user.id == user_data.id %}
            <div class="button profile-edit-btn">
                <a class="btn btn-sm common-btn btn-block" href="{% url 'profile_edit' %}">編集</a>
            </div>
            {% endif %}
        </div>
        <div class="profile-mid">
            <div>
                {{ user_data.introduction }}
            </div>
        </div>
        <div class="profile-btm">
            <a class="to-user-aaa" href='{% url "get_follow" user_data.id %}'><span class="to-user-span">{{ from_user_count }}</span>フォロー</a>
            <a class="from-user-aaa" href='{% url "get_follow" user_data.id %}'><span class="from-user-span">{{ to_user_count }}</span>フォロワー</a>
        </div>
    </div>
</div>


<!-- ログイン中のユーザーのプロフィールでは表示しない。 -->
{% if request.user.id != user_data.id %}
    <!--  -->
    {% if request.user.is_anonymous %}
    <div class="button mx-auto">
        <button class="btn btn-lg btn-block follow-button follow-btn-off" data-follow-user-url='{% url "user_follow" %}' data-to-user-id="{{ user_data.id }}" data-from-user-id="{{ request.user.id }}" data-is-authenticated='{{ user.is_authenticated }}' data-account-login='{% url "account_login" %}'>
            フォロー
        </button>
    </div>
    {% elif request.user.id in follower_list %}
    <div class="button mx-auto">
        <button class="btn btn-lg btn-block follow-button follow-btn-on" data-follow-user-url='{% url "user_follow" %}' data-to-user-id="{{ user_data.id }}" data-from-user-id="{{ request.user.id }}" data-is-authenticated='{{ user.is_authenticated }}' data-account-login='{% url "account_login" %}'>
            フォロー解除
        </button>
    </div>
    {% else %}
    <div class="button mx-auto">
        <button class="btn btn-lg btn-block follow-button follow-btn-off" data-follow-user-url='{% url "user_follow" %}' data-to-user-id="{{ user_data.id }}" data-from-user-id="{{ request.user.id }}" data-is-authenticated='{{ user.is_authenticated }}' data-account-login='{% url "account_login" %}'>
            フォロー
        </button>
    </div>
    {% endif %}
{% endif %}





<!-- ユーザーのtweet表示 -->
{% include "common/tweetcard-a-tag.html" %}


{% endblock %}