@media (max-width: 576px) {
  body {
    font-size: 13px;
  }
}

a {
  color: black;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  width: 100%;
  position: relative;
}

.card-profile {
    max-width: 700px;
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.1);
}

.button {
    width: 150px;
}

.common-btn {
    font-size: 80%;
    width: 100%;
    border-radius: 5rem;
    font-weight: bold;
}
  
  .profile_table {
    width: 100%;
    border: 1px solid #d1dbeb;
    border-radius: 8px;
    border-collapse: separate;
    overflow: hidden;
  }
  
  .profile_table .header {
    width: 200px;
    padding: 16px 24px;
    text-align: left;
    background: #f1f5fa;
  }
  
  .profile_table .data {
    padding: 16px 24px;
  }
  
  .form_wrap {
    display: grid;
    gap: 16px;
  }
  
  .form_wrap-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .form-control:focus {
    box-shadow: none;
  }
  
  .card-auth {
    width: 400px;
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .error-message {
    color: #FA6964
  }

  .card-title {
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }

  .tweet-card {
    margin: 1rem 0 1rem 0;
  }

  .tweet-card:last-child {
    margin-bottom: 0;
  }

  .tweets-card-body {
    padding: 1rem;
    position: relative;
  }
  
  .form-auth {
    width: 100%;
  }
  
  .form-label-group {
    margin-bottom: 1rem;
  }
  
  .form-label-group input {
    border-radius: 2rem;
  }
  
  .tweets {
    margin-top: 2rem;
  }
  
  .tweet {
    background-color: #fff;
    border: 1px solid #d1dbeb;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.1);
  }

  .common-btn {
    background-color: teal;
    color: #fff;
    transition: all .4s;
  }

  .common-btn:hover{
    color: teal;
    background-color: #fff;
    border-color: teal;
  }

  .follow-btn-on {
    background-color: teal;
    color: #fff;
    transition: all .4s;
  }

  .follow-btn-on:hover {
    color: teal;
    background-color: #fff;
    border-color: teal;
  }

  .follow-btn-off {
    background-color: #fff;
    color: teal;
    transition: all .4s;
  }

  .follow-btn-off:hover {
    background-color: teal;
    color: #fff;
  }

  .signupatag,.forgotpass{
    color: #1266f1;;
  }

  .navbar-green {
    background-color:teal;
    color: #fff;
    transition: all .4s;
  }

  .nav-green {
    color: #fff;
  }

  .nav-green:hover {
    color: #fff;
    opacity: 0.5;
  }

  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: black;
    border-color: black;
}

  .navbar-custom {
      background-color: teal;
  }

  .container-fluid{
    max-width: 800px;
  }

  .search-form-006 {
    display: flex;
    height: 30px;
    align-items: center;
    border-radius: 25px;
    overflow: hidden;
}

.search-form-006 input {
    width: 250px;
    height: 30px;
    padding: 5px 15px;
    border: none;
    box-sizing: border-box;
    background-color: #e6edf3;
    font-size: 14px;
    outline: none;
}

.search-form-006 input::placeholder {
    color: #767d83;
}

.search-form-006 button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 30px;
    border-radius: 0 25px 25px 0;
    border: none;
    background-color: #204B53;
    cursor: pointer;
}

.fa-magnifying-glass {
  color: #fff;
}




  /* gooleログインボタン */
  .google-login-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em auto;
  }
  
  .google-login-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.2s ease-out, transform 0.3s ease-out, box-shadow 0.3s ease-out;
    transform: scale(1);
  }
  
  .google-login-btn img {
    max-width: 180px;
    height: auto;
  }
  
  .google-login-btn:hover {
    transform: scale(0.98); /* slightly reduce the size */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  /* バリデーションエラー時の枠色 */
  input.error, textarea.error, select.error {
    border-color: #FFCCCC;
  }
  
  .profile-image {
    min-width: 50px;
    width: 50px;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
  }
  .profile-image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .tweet-content {
    margin: 0 10px 0 10px;
  }
  
  .tweet-date {
    font-size: 12px;
    color: darkgray;
  }
  
  .tweet-card {
    border-radius: 0.5rem;
    text-decoration: none;
  }
  
  .tweet-u-card-body {
    display: flex;
    flex-direction: row;
  }